<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-2.5.xsd">
	<!-- 启动自动注解 -->
	<!-- <context:annotation-config /> -->

	<!-- 启动自动扫描 -->
	<context:component-scan base-package="com.iscas.zb.*" />
	<import resource="mybatis.xml"></import>

	<!-- quartz -->

	<bean id="tableRelationTools" class="com.iscas.zb.tools.TableRelationTools"></bean>
	<bean id="enToChTools" class="com.iscas.zb.tools.EnToChTools"></bean>
	<bean name="firstComplexJobDetail"    class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
	    <property name="jobClass" value="com.iscas.zb.quartz.FirstScheduledJob" />
	    <property name="jobDataMap">
	        <map>
	            <entry key="tableRelationTools" value-ref="tableRelationTools" />
	            <entry key="enToChTools" value-ref="enToChTools" />
	        </map>
	    </property>
	    <property name="durability" value="true" />
	</bean>

	<bean id="cronTrigger"  class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
	    <property name="jobDetail" ref="firstComplexJobDetail" />
	    <!--<property name="cronExpression" value="0/5 * * ? * SAT-SUN" />-->
	    <property name="cronExpression" value="0 0/10 * ? * *" />
	</bean>
	<!-- Scheduler factory bean to glue together jobDetails and triggers to Configure Quartz Scheduler -->
    <bean lazy-init="false" autowire="no"  class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="jobDetails">
            <list>
                <ref bean="firstComplexJobDetail" />
            </list>
        </property>

        <property name="triggers">
            <list>
                <ref bean="cronTrigger" />
            </list>
        </property>
    </bean>

</beans>